@inherits LayoutComponentBase

<h1>This is the layout with 2 columns</h1>
<main>
    <div style="display:flex; gap: 10px">
        <div>
            @Body
        </div>
        <div>
            Second column
        </div>
    </div>
</main>
