@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School!</h1>
<p>Demonstrate website layout in Blazor Server .NET 7. - Blazor School</p>
<p>For additional tutorials on Blazor Server, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div><NavLink href="layout-for-folder-1">Layout for folder (1)</NavLink></div>
<div><NavLink href="layout-for-folder-2">Layout for folder (2)</NavLink></div>
<div><NavLink href="layout-for-folder-3">Layout for folder (sub folder)</NavLink></div>
<div><NavLink href="layout-directive">@@layout directive</NavLink></div>
<div><NavLink href="layout-view">LayoutView component</NavLink></div>
<div><NavLink href="nested-layout">Nested layout</NavLink></div>